version: 2.1

jobs:
  build:
    docker:
      - image: docker:19.03.12

    steps:
      - checkout

      - setup_remote_docker:
          version: 19.03.12
          
      - run:
          name: Build Docker Image
          command: |
            docker build -t automated-pipeline:latest .
            docker images
         

          # command: |
          #   docker build -t automated-pipeline:latest .
          #   docker images
          #   apt-get update && apt-get install -y git openssh-client
          #   ssh-keyscan beta.aptible.com >> ~/.ssh/known_hosts
          #   git remote add aptible git@beta.aptible.com:$APTIBLE_ENVIRONMENT/$APTIBLE_APP.git
          #   git push aptible $CIRCLE_SHA1:master

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build

  #  apk add --no-cache git openssh-client
  #           ssh-keyscan beta.aptible.com >> ~/.ssh/known_hosts
  #           git remote add aptible git@beta.aptible.com:$APTIBLE_ENVIRONMENT/$APTIBLE_APP.git
  #           git push aptible $CIRCLE_SHA1:main
# version: 2.1

# jobs:
#   build:
#     docker:
#       - image: docker:19.03.12
#     steps:
#       - checkout
#       - setup_remote_docker:
#           version: 19.03.12
#       - run:
#           name: Build Docker Image
#           command: |
#             docker build -t automated-pipeline:latest .
#             docker images
#           context: .

#   deploy:
#     docker:
#       - image: docker:19.03.12
#     steps:
#       - checkout
#       - run:
#           name: Deploy to Aptible
#           command: |
#             chmod +x deploy.sh
#             ./deploy.sh
#         environment:
#          - APTIBLE_EMAIL=${emmachinemerem04@gmail.com}
#           - APTIBLE_PASSWORD=${Emmanuel12++}
#           - APTIBLE_GIT_REMOTE=${git@beta.aptible.com:flask-app/automated_deployment.git}
# workflows:
#   version: 2
#   build_and_deploy:
#     jobs:
#       - build
#       - deploy:
#           requires:
#             - build

